:root {
    --bg-primario: #ffffff;
    --bg-secundario: #347F4C;
    --txt-primario: #ffffff;
    --txt-secundario: #000000;
    --txt-terciario: #5a5a5a;
    --bg-detalles-primario: #00DB9E;
    --bg-detalles-secundario: rgb(188, 187, 192);
    --sombra: rgba(0, 0, 0, 0.2);
    --sombra-chica: 0px 4px 10px rgba(0, 0, 0, 0.5);
    --sombra-grande: 0px 0px 20px rgba(0, 0, 0, 0.5);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-secundario);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Registro {
    background-color: rgba(252, 252, 236, 1);
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 20px;
    width: 440px;
    height: 500px;
    border-radius: 1em;
    box-shadow: var(--sombra-chica)   
}

.Registro h2{
    font-size: 30px;
    margin-bottom: 20px; 
}

.Columna {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 220px;
    padding-top: 10px;
}

.Registro input {
  padding: 10px;
  border: 1px solid var(--bg-detalles-primario);
  border-radius: 10px;
}

.Registro .Link{
    padding-top: 20px;
}

.BotonRegister {
    display: flex;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
    padding: 12px 20px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: var(--txt-primario);
    background-color: var(--bg-detalles-primario);
    border: 1px solid var(--txt-secundario);
    border-radius: 22px;
    transition: all 0.35s;
    box-sizing: border-box;
    position: relative;
}

.BotonRegister:hover {
    transform: translateY(-0.25em);
    box-shadow: 0 0 0.5em 0em #5e5e5e;
    background-color: var(--bg-detalles-secundario);
    color: var(--txt-secundario);
    border-color: var(--txt-secundario);
}